button {
  all: unset;
  padding: 0.25rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;

  background-color: var(--brand-dark);
  font: var(--text-body-md);
  font-weight: 600;
  color: var(--text-heading);

  display: flex;
  align-items: center;
  gap: 0.75rem;

  margin-left: auto;

  &:hover {
    background: var(--brand-mid);
  }
}
