.file-wrapper {
  & .file {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 3rem;

    & .file-btn {
      height: 2.5rem;
      background: var(--shape-button);
      border-radius: 0.5rem;
      gap: 0.5rem;
      padding: 0.25rem 0.75rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      & span {
        font: var(--text-body-md);
        color: var(--text-heading);
      }
    }

    & p {
      font: var(--text-body-md);
      color: var(--input-placeholder);
    }
    & label {
      margin-bottom: 0;
    }
  }

  & input[type="file"] {
    display: none;
  }
}
