input,
textarea {
  appearance: none;
  width: 100%;

  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  color: var(--text-heading);

  padding: 0 1rem;

  font: var(--text-body-md);
}

label {
  font: var(--text-body-sm);
  color: var(--text-body);

  display: block;
  margin-bottom: 0.75rem;
}

input:focus,
textarea:focus,
input[type="datetime-local"]:focus-within {
  outline: none;
  border-color: var(--brand-light);
}

.event-info .flex {
  gap: 1rem;
}

input[type="datetime-local"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

input {
  height: 48px;
  &::placeholder {
    color: var(--input-placeholder);
  }

  &:invalid {
    border: 1px solid var(--danger);
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font: var(--text-body-xs);
    color: var(--danger);

    margin-top: 0.5rem;
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}
