@import url(fields/index.css);

form {
  margin-top: 2.5rem;
  max-width: 820px;
  margin-bottom: 80px;
}

fieldset {
  border: none;

  display: grid;
  gap: 2.5rem;
}

legend {
  font: var(--text-heading-sm);
  color: var(--text-heading);

  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

fieldset + fieldset {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer {
  padding-top: 2.5rem;
  border-top: 1px solid var(--input-stroke);

  & .actions-wrapper {
    height: 3rem;
    margin-top: 3rem;
    gap: 0.5rem;
    display: flex;
  }
}
