*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT-FAMILY */
  --font-logo: "Leckerli One", cursive;
  --text-logo: 400 2.5rem var(--font-logo);

  --font-heading: "Baloo 2", sans-serif;
  --text-heading-md: 700 1.75rem var(--font-heading);
  --text-heading-sm: 700 1.125rem var(--font-heading);

  --font-body: "Open Sans", sans-serif;
  --text-body-md: 400 1rem var(--font-body);
  --text-body-sm: 400 0.875rem var(--font-body);
  --text-body-xs: 400 0.75rem var(--font-body);

  /* COLORS */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

body {
  overflow: hidden;

  background-color: var(--shape-background);
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
